/*fonts and colors*/
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgb(80, 80, 80);
  background-color: rgb(230, 230, 230);


}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 23px;
  color: rgb(201, 0, 0);
}

h2{
font-size: 20px;
color: rgb(110, 110, 110);
}
h3{
  font-size: 17px;
  color: rgb(100, 100, 100);
}

a{
  text-decoration: none;
  color: rgba(100, 100, 100, 0.7);
}

a:hover{
  color: rgb(255, 77, 0);
}

/*custom design with classes*/

.section-white{
  background-color: white;
  border-radius: 4px;
  width: 700px;
  margin: 20px auto;
  padding: 50px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.img-circle{
  border-radius: 28px;
  width: 150px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(100, 100, 100, 0.1);

}

.btn-red{
  background-color: rgb(201, 0, 0);
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  margin-top:

}

.btn-red:hover{
  background-color: red;
  color: white;
}

.text-center{
  text-align: center;
}

.list-inline{
  list-style: none;
  padding-left: 0px;
}

.list-inline li{
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;


}

.img-small{
  width: 200px;
}

.box-borderspace{
  padding: 20px;
}
.icons-red{
  color: rgb(201, 0, 0);
  font-size: 20px;

}

.text-justify{
  text-align: justify;
}

.text-justify-top{
  padding-bottom: 20px;
}
